@import "tailwindcss";


.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #2c3e50;
  color: white;
  text-align: center;
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #e74c3c;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
}

/* Mobile */
@media (max-width: 600px) {
  .loading-container h1 {
    font-size: 20px;
  }
  .loader {
    width: 50px;
    height: 50px;
  }
}

/* Tablet */
@media (min-width: 601px) and (max-width: 1024px) {
  .loading-container h1 {
    font-size: 28px;
  }
  .loader {
    width: 70px;
    height: 70px;
  }
}

/* Desktop */
@media (min-width: 1025px) {
  .loading-container h1 {
    font-size: 36px;
  }
  .loader {
    width: 100px;
    height: 100px;
  }
}
/* index.css या global.css */
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}

